<%= render 'banner' %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <%= render 'featured_collection' %>
    <%= render 'featured_products' %>
  </div>
</section>
<%= render 'potepan/shared/brand_list' %>
<%= render 'product_quick_view' %>
