<% products.each_with_index do |product, i| %>
  <div class="<%= width_of_productBox(box_type) %>">
    <div class="productBox" id="productBox-<%= i %>">
      <%= link_to potepan_product_path(product.id) do %>
        <div class="productImage clearfix">
          <%= image_tag describe_url(product.images.first) %>
        </div>
        <div class="productCaption clearfix">
          <h5><%= product.name %></h5>
          <h3><%= product.display_price %></h3>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
