<!-- LIGHT SECTION -->
<section class="lightSection clearfix pageHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="page-title">
          <h2><%= item.name %></h2>
        </div>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb pull-right">
          <li><%= link_to "Home", potepan_path %></li>
          <% if defined?(show_shop) %>
            <li><a href="#" id="show_shop">shop</a></li>
          <% end %>
          <li class="active"><%= item.name %></li>
        </ol>
      </div>
    </div>
  </div>
</section>
