<% provide(:title, @taxon.name) %>
<%= render 'potepan/shared/top_bar', item: @taxon, show_shop: true %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <%= render 'category_bar', taxonomies: @taxonomies %>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'sort_select_field' %>
        <div class="row">
          <%= render 'potepan/shared/products', products: @products, box_type: "category" %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'potepan/shared/brand_list' %>
