<%= provide(:title, @product.name) %>
<%= render 'potepan/shared/top_bar', item: @product %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <%= render 'single_product', product: @product %>
    <div class="row productsContent">
      <div class="col-xs-12">
        <div class="page-header">
          <h4>関連商品</h4>
        </div>
      </div>
      <%= render 'potepan/shared/products', products: @product.relational_products, box_type: "relation" %>
    </div>
  </div>
</section>
