<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
    <div class="main-wrapper">
      <%= render 'layouts/header' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
    <%= render 'layouts/login' %>
    <%= render 'layouts/sign_up' %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
